html {
    scroll-behavior: smooth;
}

/*The below removes that default margin: 8px */  
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

:root {
    --main-background-color: #EBEBEB;
    --accent-color-1: #1c1c1c ;
    --accent-color-2: #EBEBEB ;
    --accent-color-3: white;
    --font-color-1: #1c1c1c;
    --font-color-2: #EBEBEB;
    --bar-color: #1c1c1c;
    --link-hover: #A3B6CF;
}

/* Typography */
h1, h2, h3{
    font-family: 'Playfair Display' ,Helvetica, sans-serif;
    color: var(--font-color-1);
    margin-bottom: 50px;
}

a, p{
    color: var(--font-color-1);
    font-family:'Poppins' ,Helvetica, sans-serif;
}

h1 {
  font-size: 128px;
}


h2 {
    font-size: 80px;
}

h3{
    font-size: 55px
}

a {
    text-decoration: none;
    color: var(--font-color-1);
}

li {
    list-style-type: none;
}

p {
    font-size: 25px;
    margin-bottom: 15px;
}

i {
    color: var(--accent-color-1);
    font-size: 200px;
}


body {
    margin: 0;
    letter-spacing: 1px;
    background-color: var(--main-background-color);
    letter-spacing: 1px;
    line-height: 1;
}

section{
    padding: 5em 2em; /* Equivalent 80px  32*/
    height: 100vh; /* vh: 1/100th of the height of the viewport */
}

.social {
    display: inline-block;
    padding: 9px 30px;
    margin-top: 5px;
    letter-spacing: 5px;
    padding-bottom: 10px;
    font-size: 20px;
    /* position: fixed; */
    top: 0; left: 0;
}

/* ------------- Individual Sections ------------- */
/* LANDING PAGE */
.landing_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap: 60px;
}

.nav-link{
    transition: 0.3s ease-out;
}
.nav-link:hover{
    color: var(--link-hover);
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3x ease-in-out;
    transition: all 0.3x ease-in-out;
    background-color: var(--bar-color);
}

#icon{
    width: 250px;
    height: 200px;
    margin: 25px;
    transition: all 0.4s ease-in-out;
}



/* ABOUT PAGE */

#about{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
}
.image-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-container img {
    width: 300px;
    height: 300px;
    margin: 20px;
    border-radius: 10px;
}
.text-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: 15px;
}



/* SKILLS & EXPERIENCE PAGE */

/*Work Experience part*/
.container {
    width: 80%;
    padding: 50px 0;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
 }
 
 .container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #CCD1D9;
    z-index: 1
 }
 
 .timeline-block {
    width: -webkit-calc(50% + 8px);
    width: -moz-calc(50% + 8px);
    width: calc(50% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
 }
 
 .timeline-block-right {
    float: right;
 }
 
 .timeline-block-left {
    float: left;
    direction: rtl;
 }
 
  .timeline-block-left p {
    text-align: left;
  }
 
 .marker {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #F5F7FA;
    background: #0ABAB5;
    margin-top: 10px;
    z-index: 9999
 }
 
 .timeline-content {
    width: 95%;
    padding: 0 15px;
    color: #666
 }
 
 .timeline-content h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 500
 }
 
 .timeline-content span {
    font-size: 15px;
    /*color: #a4a4a4; commenting this out for now*/
 }
 
 .timeline-content p, .timeline-content li  {
    font-size: 14px;
    line-height: 1.5em;
    word-spacing: 1px;
    color: #888;
 }

.skills{
    background-color: var(--accent-color-1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}


.circle {
	/* width: 100%;
	height: 100%; */
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	cursor: pointer;
    width: 132px;
    height: 132px;
	box-shadow: 
		inset 0 0 0 5px var(--accent-color-2),
		0 1px 2px rgba(0,0,0,0.1);
	transition: all 0.4s ease-in-out;
    
}

.skill_icon { 
    position: absolute;
    width: 50%;
    height: 50%;
    left: 26%;
    top: 28%;
}




/* PROJECT PAGE */






/* CONTACT PAGE */
.contact {
    position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.contact:after{
    position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.contact-box{
	max-width: 850px;
	/* display: grid;
	grid-template-columns: repeat(2, 1fr); */
	justify-content: center;
	align-items: center;
	text-align: center;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color:var(--accent-color-3);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
    background-color: var(--accent-color-1);
    color: var(--font-color-2);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: var(--accent-color-1);
	color: var(--font-color-2);
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: var(--main-background-color);
    color: var(--font-color-1);
    border: 1px solid var(--accent-color-1);
}

.field:focus{
    border: 2px solid #153647;
    background-color: #fff;
}



/*Footer Section */
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    position: auto;
    text-align: center;
    padding: 15px 0;
}

#Copyright {
    font-size: 12px
}



/* ------------- Responsive Display ------------- */
@media(max-width:768px){

    .hamburger{
        position: fixed;
        top: 0; right: 0;
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    a{
        text-decoration: none;
        color: var(--font-color-2);
    }

    .nav-menu{
        position:fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: var(--accent-color-1);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }


    h1 {
        font-size: 64px;
    }

    h2 {
        font-size: 50px;
    }

    p{
        font-size: 20px;
    }

    /* ABOUT PAGE */
    .wrapper{
        flex-direction: column;
    }
    .image-container img{
        width: 250px;
        height: 250px;
    }


    /* SKILLS & EXPERIENCE PAGE */
    /*Work Experience part*/
    .container:before {
        left: 8px;
        width: 2px;
    }
    .timeline-block {
        width: 100%;
        margin-bottom: 30px;
    }
    .timeline-block-right {
        float: none;
    }
  
    .timeline-block-left {
        float: none;
        direction: ltr;
    }


    /* CONTACT PAGE */
    .text-container {
        align-items: center;
    }

}
